* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  
}

.cell {
  height: 6rem;
  width: 8rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(3n+1) {
  border-left: none;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.x::after {
  content: "";
  background-color: #000;
  width: 65%;
  height: 15%;
  transform: rotate(45deg);
  position: absolute;
}

.x::before {
  content: "";
  background-color: #000;
  width: 65%;
  height: 15%;
  transform: rotate(-45deg);
  position: absolute;
}

.circle::after, .circle::before {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.circle::after {
  content: "";
  border-radius: 50%;
  width: 42%;
  height: 63%;
  position: absolute;
  background-color: #fff;
}

.circle::before {
  content: "";
  background-color: #000;
  width: 60%;
  height: 90%;
  position: absolute;
}

.empty:hover {
  background-color: lightcoral;
  opacity: 0.15;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6vh;
}

.main-x .cell, .main-circle .cell{
  visibility: hidden;
}

.main-x::after, .main-x::before {
  content: "";
  background-color: #000;
  width: 0%;
  height: 15%;
  transform: rotate(45deg);
  position: absolute;
  left: 4.2rem;
  animation: showCrux 1s forwards;
}

@keyframes showCrux {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

.main-x::before {
  transform: rotate(-45deg);
}

.main-circle::after, .main-circle::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 4.2rem;
}

.main-circle::after {
  content: "";
  border-radius: 50%;
  width: 0%;
  height: 63%;
  position: absolute;
  left: 6.5rem;
  background-color: #fff;
  animation: showInnerCircle 0.7s forwards;
}

.main-circle::before {
  content: "";
  background-color: #000;
  width: 0%;
  height: 90%;
  position: absolute;
  animation: showOuterCircle 0.7s forwards;
}


@keyframes showOuterCircle {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}


@keyframes showInnerCircle {
  from {
    width: 0%;
  }
  to {
    width: 42%;
  }
}